body{
    color: rgb(236, 236, 236);
    /* background-image: "./../data/fond.jpg"; */ 
    font-family: "Roboto", sans-serif;
    text-align: center;
    background-color: #4d4d4d;
    /*background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.wallpapersden.com%2Fimage%2Fdownload%2Ftopography-abstract-black-texture_a2lmZmiUmZqaraWkpJRobWllrWdma2U.jpg&f=1&nofb=1&ipt=b06eb807a1acdaf2de11e22b0ee8ae92aeccef9fc7de503e8f0b800869a9abff&ipo=images);*/
}

nav{
    position: sticky;
    justify-content: center;
}



nav a{
    font-family: "Roboto", sans-serif;
    display: inline-block;
    padding: 10px 20px;
    margin: 20px;
    background-color: #161616; /* couleur de fond */
    color: rgb(228, 228, 228); /* couleur du texte */
    text-decoration: none; /* supprime le soulignement */
    border-radius: 5px; /* coins arrondis */
    font-size: 16px;
    transition: background-color 0.3s; /* effet de transition pour un changement de couleur */
  
    }

nav ul::after{
    content: "";
    display: table;
    clear: both;
}
        
.center{
    display: inline-block;
    text-align: center;
}



a{

    color: azure;
}


.accueil{

    text-align: left;
}

.left{
    display: inline-block;
    justify-content: left;}

.stars {
    display: inline-block;
}

.star {
    font-size: 22px;
    color: #ffd700; /* Couleur dorée */
    }

.star-empty {
    color: #ccc; /* Couleur grise */
}
 

ul{
    list-style-type: none;
}




img {
    width : 350px;
    height : 150px;
    }

.liens{
    width: 40px;
    height: 40px;
}











    /*Reset CSS*/


nav{
    width: 100%;
     
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav li{
    float: left;
    width: 18%;
    text-align: center;/*Centre le texte dans les éléments de menu*/
}



nav a{
    
    text-decoration: none;
   
}


