body{
    color: rgb(236, 236, 236);
    background-color:#5e5d5d;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

nav a{
    
    display: inline-block;
    padding: 10px 20px;
    margin: 35px;
    background-color: #2c2c2c; /* couleur de fond */
    color: rgb(228, 228, 228); /* couleur du texte */
    text-align: center;
    text-decoration: none; /* supprime le soulignement */
    border-radius: 5px; /* coins arrondis */
    font-size: 16px;
    transition: background-color 0.3s; /* effet de transition pour un changement de couleur */
  
    }
        
.center{
    display: inline-block;
    text-align: center;
}



a{

    color: azure;
}


.accueil{

    text-align: left;
}

.left{
    display: inline-block;
    justify-content: left;}

.stars {
    display: inline-block;
}

.star {
    font-size: 20px;
    color: #ffd700; /* Couleur dorée */
    }

.star-empty {
    color: #ccc; /* Couleur grise */
}
 




ul{
    list-style-type: none;
}





